.web-player {
  background-color: #181818;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  border-top: 1px solid #282828;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.player-left {
  display: flex;
  align-items: center;
  min-width: 180px;
  width: 30%;
}

.footer-img-container {
  flex-basis: 56px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  display: block;
}

.footer-img {
  width: 100%;
  height: 100%;
}

.footer-song-details {
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  overflow: hidden;
  text-align: left;
}

.footer-song-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

.footer-artist {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.footer-like,
.footer-poster {
  display: flex;
  flex-basis: 54px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex-basis: 32px;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer-icons {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons svg {
  fill: #b3b3b3;
}

.footer-icons svg:hover {
  fill: #fff;
}

.player-middle {
  max-width: 722px;
  width: 40%;
  display: block;
}

.player-middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
}

.player-control {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.left-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.play-pause-btn {
  fill: #000;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}

.right-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.playback-bar {
  display: flex;
  color: #fff;
  align-items: center;
}

.current-time,
.total-time {
  margin: 0 8px;
  word-break: normal;
  font-size: 11px;
  color: #b3b3b3;
}

.duration-bar {
  flex: 1;
  -webkit-appearance: none;
  background-color: #535353;
  height: 4px;
  overflow: hidden;
  width: auto;
  border-radius: 2px;
  margin: 2px;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
}

.player-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 180px;
  width: 30%;
}

.sound-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    width: 93px;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #535353;
    cursor: default;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #b3b3b3;
    margin-top: -1px;
    cursor: default;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -220px 0 0 220px #b3b3b3;
    cursor: default;
  }
}
/** FF*/
input[type='range']::-moz-range-progress {
  background-color: #b3b3b3;
  cursor: default;
}
input[type='range']::-moz-range-track {
  background-color: #535353;
  cursor: default;
}
/* IE*/
input[type='range']::-ms-fill-lower {
  background-color: #b3b3b3;
  cursor: default;
}
input[type='range']::-ms-fill-upper {
  background-color: #535353;
  cursor: default;
}
