.vertical-navbar-container {
  width: 241px;
  background-color: #000;
  height: calc(100vh - 90px);
  color: #fff;
  /* position: fixed; */
}

.vertical-navbar-inner-container {
  padding: 0 8px;
  width: 241px;
}

.vertical-logo-container {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 24px;
  margin-bottom: 20px;
}

.vertical-logo {
  padding: 0;
  display: inline-block;
  max-width: 100%;
  width: 130px;
}

.vertical-nav-item {
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  color: #b3b3b3;
}

.vertical-nav-item:hover {
  color: #fff;
}
.vertical-nav-item-selected {
  background-color: #282828;
  color: #fff;
}

.vertical-navbar-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.vertical-navbar-link:hover {
  color: inherit;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container svg {
  font-size: 24px;
}

.nav-icon-container {
  color: inherit;
}

.nav-icon-container:hover {
  color: inherit;
}

.nav-link-text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  margin-left: 16px;
  font-weight: 700;
  color: inherit;
}

.nav-link-text:hover {
  color: inherit;
}

.nav-img {
  width: 24px;
  height: 24px;
  border-radius: 1px;
}

.playlist {
  display: flex;
  align-items: center;
}

.playlist-icon-container {
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #fff;
  color: #000;
}

.vertical-nav-middle {
  margin-top: 24px;
}

.navbar-hr {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 100;
  outline: none;
  height: 1px;
  margin: 8px 16px;
}

.navbar-playlists {
  display: block;
  height: 128px;
  overflow: scroll;
  scrollbar-color: auto;
}

.playlist-title {
  list-style: none;
  height: 32px;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  margin-left: 16px;
  font-weight: 400;
  color: #b3b3b3;
  line-height: 20px;
  text-transform: none;
  cursor: default;
}

.playlist-title:hover {
  color: #fff;
}

.download-icon {
  display: flex;
}
