.vertical-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.vertical-card:hover .vertical-card-inner-container {
  background: #262626;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
}

.vertical-card-inner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background: #181818;
}

.vertical-card-img-container {
  background-color: transparent;
  display: block;
  position: relative;
}

.vertical-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  box-shadow: 0 -4px 12px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.vertical-card-artist-img {
  border-radius: 500px;
}

.vertical-card-title {
  margin-top: 16px;
  min-height: 62px;
}

.vertical-card-song {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}
.vertical-card-artist {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
  color: #b3b3b3;
  margin-top: 4px;
  -webkit-line-clamp: 2;
}

.vertical-play-pause {
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
  z-index: 2;
  border-radius: 500px;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.vertical-play-pause svg {
  fill: #fff;
}

.vertical-play-pause:hover {
  transform: scale(1.06);
}

.vertical-card:hover .vertical-play-pause {
  bottom: 12px;
  opacity: 1;
}
