// colors
$bg-color-1: #26856a;
$bg-color-2: #8d67ac;
$bg-color-3: #dc148c;
$bg-color-4: #1e3164;
$bg-color-5: #e8115b;
$bg-color-6: #ffc864;
$bg-color-7: #bb5d06;
$bg-color-8: #477e95;
$bg-color-9: #138a09;
$bg-color-10: #e61e32;
$bg-color-11: #181818;
$bg-color-12: #777777;
$bg-color-13: #8c1932;
$bg-color-14: #0c73ec;
$bg-color-15: #608108;
$bg-color-16: #9cf0e1;
$spotify-green: #1ed760;
$spotify-dark-green: #15883e;
$spotify-dark-green-hover: #1db954;
$facebook-blue: #1877f2;
$facebook-blue-hover: #4893f5;
$facebook-dark-blue: #3b5998;
$facebook-dark-blue-hover: #3a61b3;
$apple-black-hover: #333;
$google-grey: #616467;
$primary: #1d75de;
$very-dark: #0b0909;
$white: #fff;
$black: #000;
$input-box-shadow: #878787;
$input-error-box: #e91429;
$input-error: #d31225;
$input-error-login: #eb1e32;
$divider-border: rgb(204, 204, 204);
$transparent-black: rgba(0, 0, 0, 0.7);
$dark-grey: hsla(0, 0%, 100%, 0.1);
$dark-grey-hover: hsla(0, 0%, 100%, 0.2);
$footer-heading: #919496;
$playlist-card-secondary-text: #b3b3b3;
$premium-plans-card-footer: #535353;
$premium-plans-card-trial-period: #2e77d0;
$vertical-card-hover: #262626;
$footer-icon-bg: #222326;
$vertical-navbar-selected-color: #282828;
$navigation-secondary: #b9bfcc;
$playlist-icon-color: hsla(0, 0%, 100%, 0.7);
$premium-plans-bg: #efefef;
$login-page-bordor-color: #d9dadc;
$dropdown-bg: #373737;

// font-weight
$font-black: 900;
$font-bold: 700;
$font-normal: 400;

// sizes
$top-banner-height: 60px;
$navbar-height: 80px;
$navbar-height-small: 54px;
$vertical-navbar-item-height: 40px;
$vertical-navbar-playlist-height: 128px;
$web-player-height: 90px;
$trial-offers-minheight: 480px;

$x-large-width: 1170px;
$large-width: 970px;
$medium-width: 750px;
$vertical-card-min-width: 180px;
$horizontal-card-min-width: 270px;
$login-signup-width: 450px;

$mobile-navigation-width: 447px;
$premium-plans-cardbox-small: 440px;
$searchbar-input-width: 365px;
$left-nav-width: 241px;
$trial-offers-maxwidth: 630px;
$web-player-left: 180px;
$web-player-middle: 722px;
$web-player-right: 180px;

$horizontal-card-img: 80px;
$music-types-card-img: 100px;
$playlist-card-img: 40px;
$grid-gap: 24px;
$footer-social-icons-container: 54px;
$footer-social-icons-size: 20px;
$spotify-logo-size: 40px;
$spotify-logo-small-size: 25px;
$vertical-navbar-icon-size: 24px;
$playlist-cover-img-size: 232px;
$web-player-img: 56px;
$login-page-logo-width: 200px;

$play-btn-size: 56px;
$playlist-svg-font: 28px;
$playlist-icon-size: 32px;
$extra-larger-font-size: 72px;
