.trial-offers {
  min-height: 480px;
  padding-top: 72px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 72px;
  background-color: #1d75de;
  color: #fff;
  width: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.trial-heading {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  padding-top: 54px;
  font-weight: 900;
  width: 100%;
  display: inline-block;
  letter-spacing: 0.25px;
}

.trial-subheading {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  max-width: 100%;
  display: inline-block;
  letter-spacing: 0.25px;
}

.trial-btn-container {
  margin: 35px 0 0;
  display: flex;
}

.trial-footer {
  max-width: 630px;
  font-size: 12px;
  letter-spacing: 0.25px;
  margin-top: 40px;
  padding-bottom: 30px;
}

.trial-footer-link {
  text-decoration: underline;
  cursor: pointer;
}

.view-plans-btn,
.get-started-btn {
  border-radius: 50px;
  padding: 5px 10px;
  border: 3px solid transparent;
}
.get-started-btn {
  margin-right: -15px;
  padding-left: 0;
}

.view-plans-btn:active,
.get-started-btn:active {
  border: 3px solid #000;
  transform: scale(0.95);
}

/* XS Screens */
@media only screen and (max-width: 480px) {
  .trial-offers {
    padding-left: 15px;
    padding-right: 15px;
  }

  .trial-heading {
    margin: 0;
    padding: 0;
    font-size: calc(24px + 4 * ((100vw - 320px) / 160));
  }

  .trial-subheading {
    font-size: 18px;
    margin: 15px 0px 0px;
  }

  .trial-btn-container {
    flex-direction: column;
  }
  .view-plans-btn {
    flex: 1;
  }

  .get-started-btn {
    flex: 1;
    margin-right: 0;
    padding: 5px 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .trial-offers {
    padding-left: 15px;
    padding-right: 15px;
  }

  .trial-heading {
    font-size: 28px;
  }

  .trial-subheading {
    font-size: 18px;
  }

  .trial-btn-container {
    flex-direction: column;
  }
  .view-plans-btn {
    flex: 1;
  }

  .get-started-btn {
    flex: 1;
    margin-right: 0;
    padding: 5px 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .trial-offers {
    padding-top: 48px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 992px) {
  .trial-offers {
    padding-top: 48px;
  }
}
@media only screen and (min-width: 768px) {
}
