.custom-btn {
  padding: 17px 48px;
  border-radius: 500px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  user-select: none;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.animated-btn:hover {
  transform: scale(1.05);
}

.dark-btn {
  background-color: #0b0909;
  border: 2px solid #0b0909;
  color: #fff;
}

.primary-btn {
  background-color: #1d75de;
  border: 2px solid #fff;
  color: #fff;
}

.facebook-btn {
  background-color: #1877f2;
  color: #fff;
  padding: 14px 32px;
}

.facebook-btn:hover {
  background-color: #4893f5;
}

.spotify-btn {
  background-color: #1ed760;
  color: #000;
}
