.welcome-section {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #fff;
}

.welcome-message {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 36px;
  text-transform: none;
}

.welcome-card-container {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 16px;
  column-gap: 24px;
  max-height: 176px;
  overflow-y: hidden;
}
