.search-input-container {
  display: flex;
  position: relative;
  flex: 1;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  left: 16px;
  position: absolute;
}

.mun {
  width: 365px;
  background-color: chartreuse;
}
.search-icon-container svg {
  font-size: 24px;
}

.search-input {
  border: 0px;
  border-radius: 500px;
  color: rgb(0, 0, 0);
  height: 40px;
  padding: 6px 48px;
  text-overflow: ellipsis;
  width: 365px;
  font-size: 14px;
  line-height: 16px;
}
.search-input:focus {
  outline: none;
}

.cross-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 330px;
  top: 8px;
}
