.signup-container {
  max-width: 450px;
  margin: 0px auto;
  padding-bottom: 130px;
}

.header-container {
  padding: 40px 0px 32px;
  display: flex;
  flex-direction: column;
}

.signup-logo {
  text-align: center;
}

.signup-heading {
  margin-top: 36px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.facebook-signup-container {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.facebook-btn-wrapper {
  font-size: 14px;
  line-height: 20px;
}

.divider {
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(127, 127, 127);
  position: relative;
  text-align: center;
  width: 85%;
}

.divider::before {
  border-top: 1px solid rgb(204, 204, 204);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 42%;
}

.divider::after {
  border-top: 1px solid rgb(204, 204, 204);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 42%;
}

.signup-subheader {
  text-align: center;
  display: block;
  padding: 0px 0px 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: inherit;
  font-weight: 700;
}

.signup-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.login-option {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.login-link {
  margin-left: 3px;
  color: #1db954;
}

.login-link:hover {
  color: #1ed760;
}
