@import '../../styles/variables';
@import '../../styles/mixins';

.card-display {
  @include grid-col-template($vertical-card-min-width);
  display: grid;
  grid-column-gap: $grid-gap;
  column-gap: $grid-gap;
  row-gap: $grid-gap;
  margin: 20px 0;
}
