.banner {
  height: 80px;
  background-color: #000;
  margin: 0;
  padding: 0 15px;
}
.navbar-container {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 auto;
  height: 80px;
  max-width: 1170px;
}

.logo-container {
  padding: 20px 0;
}

.logo {
  width: auto;
  height: 40px;
}

/* MEDIA QUERIES */

/* Small and Medium Screens */
@media only screen and (max-width: 991px) {
  .banner {
    height: 54px;
  }
  .navbar-container {
    max-width: 750px;
    height: 54px;
  }
  .toggle-btn-container {
    display: flex;
    /* position: absolute; */
    /* right: 40px; */
  }

  .logo-container {
    padding: 25px;
  }

  .logo {
    height: 25px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-container {
    max-width: 970px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-container {
    max-width: 1174px;
  }
}
