.playlist-song-card {
  display: flex;
  width: 100%;
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  position: relative;
  text-align: left;
  height: 56px;
}

.playlist-song-card:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.playlist-songs-table-item {
  display: flex;
  align-items: center;
}

.playlist-songs-title {
  display: flex;
  align-items: center;
}

.playlist-songs-title-img-container {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.playlist-songs-title-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlist-songs-title-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8px;
}

.playlist-song-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
  color: #fff;
}

.playlist-songs-table-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
  color: #b3b3b3;
}

.playlist-song-artist {
  cursor: pointer;
}

.playlist-song-artist:hover {
  text-decoration: underline;
  color: #fff;
}

.playlist-songs-album {
  cursor: pointer;
}

.playlist-songs-album:hover {
  text-decoration: underline;
  color: #fff;
}
