.collection-nav {
  text-align: left;
  list-style: none;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.collection-nav-item {
  display: inline-block;
  border-radius: 4px;
}

.collection-nav-link {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 0 8px;
  padding: 12px 16px;
  position: relative;
  text-decoration: none;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
}

.collection-nav-link:hover {
  opacity: 1;
  text-decoration: none;
}

.collection-nav-selected {
  background-color: rgba(0, 0, 0, 0.7);
}
