.playlist {
  &__songbox {
    margin: 0 0 16px 0;
    padding: 16px 8px 0;
    color: #b3b3b3;
    display: block;
  }
  &__tablebox {
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-bottom: 8px;
  }
  &__table {
    grid-gap: 16px;
    padding: 0 16px;
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 16px 6fr 4fr 3fr 1fr;

    &--header {
      font-size: 14px;
      line-height: 16px;
      text-transform: none;
      letter-spacing: 0.03em;
      font-weight: 400;
    }
  }

  &__cardbox {
    padding: 0;
    padding-top: 20px;
  }
}

.duration-icon svg {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
