@import '../../../styles/variables';

dl {
  display: block;
  width: 200px;
  padding: 0 15px;
}
dt {
  margin: 20px 0;
  color: $footer-heading;
  font-size: 12px;
  font-weight: $font-black;
  line-height: 1.4;
  letter-spacing: 0.08em;
}

dd a {
  padding: 3px 0 15px;
  text-decoration: none;
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: $font-normal;
  line-height: 1.5;
  text-decoration: none;
}

dd a:hover {
  color: $spotify-green;
}

/* Small devices (landscape phones) */
@media only screen and (max-width: 767px) {
  .footer-list-card-container {
    margin: 40px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  dt {
    margin: 50px 0 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  dl {
    display: block;
    width: 170px;
    padding: 0 15px;
  }
}
