.premium-plans {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.premium-plans-inner-container {
  padding: 75px 15px;
  margin: 0 auto;
}

.premium-plans-heading {
  text-align: center;
  font-size: 32px;
  letter-spacing: -1.28px;

  font-weight: bold;
  letter-spacing: -1.28px;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

.premium-plans-subheading {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0px;
  text-align: center;
  padding: 0px;
}

.payment-logos-section {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.payment-logos-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.payment-logo-item-container {
  margin-right: 7px;
}

.payment-logo {
  display: inline-block;
  width: 29px;
  height: 20px;
  vertical-align: middle;
}

.visa {
  background-image: url(https://content-tooling.spotifycdn.com/images/c870a1e1-f980-4626-ab1b-14eeb8d4cab4_visa.svg);
}

.mastercard {
  background-image: url(https://content-tooling.spotifycdn.com/images/e5ebed70-82ea-42ae-917d-b3edb7ed98ef_mastercard.svg);
}

.amex {
  background-image: url(https://content-tooling.spotifycdn.com/images/3fcc3442-3a00-455f-9256-d3115ac3e382_amex.svg);
}

.discover {
  background-image: url(https://content-tooling.spotifycdn.com/images/205f3c09-6649-42db-8bf3-7a356be0ae37_discover.svg);
}

.paypal {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f4300e2f169bed4bb2798accb287);
}

.premium-plans-cards-container {
  margin: 50px 0px 26px;
}

.premium-plans-cards-inner-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767px) {
  .premium-plans-cards-inner-container {
    display: block;
    max-width: 440px;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .premium-plans-cards-inner-container {
    display: block;
    max-width: 440px;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .premium-plans-cards-inner-container {
    display: block;
    max-width: 440px;
    width: auto;
    margin: 0 auto;
  }
  .premium-plans-inner-container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .premium-plans-inner-container {
    width: 1170px;
  }
  .premium-plans-heading {
    font-size: 40px;
    letter-spacing: -1.6px;
  }
}
