.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 75px 15px;
}

.benefits-heading {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.015em;
  font-weight: 900;
  padding: 0;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.benefit-cards-container {
  padding: 0;
}

.benefit-cards-inner-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  .benefit-cards-inner-container {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .benefits {
    padding: 35px 15px;
  }
  .benefit-cards-inner-container {
    flex-wrap: wrap;
  }
  .benefits-heading {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .benefits {
    width: 750px;
  }
  .benefit-cards-inner-container {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .benefits {
    width: 970px;
  }
  .benefit-cards-inner-container {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .benefits {
    width: 1170px;
    margin: 0 auto;
  }
  .benefit-cards-inner-container {
    flex-wrap: nowrap;
  }
}
